{guest_attributes}

use airbender::guest::read;

{custom_allocator_module}

#[airbender::main{main_attr_args}]
fn main() -> u32 \{
    let value: u32 = read().expect("failed to read input");
    value + 1
}
